@{
    ViewData["Title"] = "Terms of Service";
}

<div class="bg-white py-16">
    <div class="container mx-auto px-4">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold mb-8">Terms of Service</h1>
            
            <div class="prose max-w-none">
                <p class="lead text-lg text-gray-600 mb-8">
                    Last updated: @DateTime.Now.ToString("MMMM dd, yyyy")
                </p>
                
                <h2>1. Agreement to Terms</h2>
                <p>
                    These Terms of Service constitute a legally binding agreement made between you and IAIF Web Catalog ("we," "us," or "our"), concerning your access to and use of the website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the "Site").
                </p>
                <p>
                    You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms of Service. If you do not agree with all of these Terms of Service, then you are expressly prohibited from using the Site and you must discontinue use immediately.
                </p>
                
                <h2>2. Intellectual Property Rights</h2>
                <p>
                    Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the "Content") and the trademarks, service marks, and logos contained therein (the "Marks") are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, international copyright laws, and international conventions.
                </p>
                <p>
                    The Content and the Marks are provided on the Site "AS IS" for your information and personal use only. Except as expressly provided in these Terms of Service, no part of the Site and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
                </p>
                
                <h2>3. User Representations</h2>
                <p>
                    By using the Site, you represent and warrant that:
                </p>
                <ol>
                    <li>All registration information you submit will be true, accurate, current, and complete;</li>
                    <li>You will maintain the accuracy of such information and promptly update such registration information as necessary;</li>
                    <li>You have the legal capacity and you agree to comply with these Terms of Service;</li>
                    <li>You are not a minor in the jurisdiction in which you reside;</li>
                    <li>You will not access the Site through automated or non-human means, whether through a bot, script, or otherwise;</li>
                    <li>You will not use the Site for any illegal or unauthorized purpose;</li>
                    <li>Your use of the Site will not violate any applicable law or regulation.</li>
                </ol>
                
                <h2>4. User Registration</h2>
                <p>
                    You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine,